<h2>League of Legends</h2>
<p>A little bit about League of Legends (LoL).</p>
<p>
  League of Legends is a popular multiplayer online battle arena video game made in 2009.
  It has grown in popularity especially in the competative scene. The 2016 World Championship
  was held in Staples Center as well as other popular locations in the years following.
  Competative play has reached a record high of 44 million concurrent viewers. <br /><br />When it comes to the
  game outside of competative play, it has roughly 65 million unique players monthly, 27 million unique
  players daily, and peaks of 8 million concurrent players.
  You can use this website to view the different items and champions available in the game, as well as
  create your own custom lists on equipment you may want to try next time you play a champion.
  <br /><br />
  Learn more about and download League of Legends
  <a style="font-weight:bold" href="https://na.leagueoflegends.com/en-us/" target="_blank">here</a>.
</p>
<p>
  You can use this website to browse the different champions availiable to play in League of Legends as well as the
  equipment you can buy. In each game characters start with a small fixed amount of gold, which changes depending on the
  game mode you are playing. You have 6 item slots, so you can only have 6 items at most. With the large variety of items
  availiable, there are many different combinations which may suit you. This website also allows you to build custom lists of
  equipment you think might be fun to try next time you play a certain champion.
</p>
<button (click)="onLogout()">Logout</button>
